<div class="container">
<% if @post.errors.any? %>
   <% @post.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
    <% end %>
<%end%>


<%= form_for :post,  :url => { :action => "create" ,class:'dropzone',id:'my-awesome-dropzone'} do |f| %>

  <div class="col-group">
    <%= f.text_field :user_id, value: current_user.id, class: "d-none"%>
  </div>

  <div class="form-group">
    <label for="<%= :description %>">description: </label>
     <%= f.text_area :description, :cols => 10, :rows => 10, placeholder:'#livingMyBestLife', class:"form-control grow-with-text #{@post.errors.include?(:description) ? 'lol-error': 'boooo'} "%>
     <% if @post.errors.include?(:description)  %>
        <span style="background: red; color: white;"><%= @post.errors.full_messages_for(:description).join('') %></span>
     <% end %>
  </div>



<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        <%= f.file_field :images, class: "custom-file-input", id:"inputGroupFile01", 'aria-describedby' => "inputGroupFileAddon01",multiple: true %>
  </div>
</div>
<%= f.hidden_field :images_attachments %>


  <div class="submit-tag">
    <%= submit_tag "Create" , class: 'btn btn-primary btn-lg btn-block'%>
  </div>
<% end %>

</div> <!--  container-->

