
<div class="container">


<h4>there is total : <%= @post.images.length %> images</h4>



<div>
  <h5>posted by <span class="username"><%= @post.user.email %> </span>:P</h5>
</div>
  
  <%= render partial: 'images' %>

  <div class="description">
    <%= @post.description %>
  <div>
  </div>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: 'are you sure '} %>
<% end %>


<%= render partial: 'comments/comments' %>
<%#= render partial: 'articles/comment', collection: @article.comments.reverse %>

<%= render partial: 'post/comment', collection: @post.comments.reverse %>
</div><!-- container -->
