<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>

<% if user_signed_in? && @user == current_user %>

<h1>I am The mandarin</h1>
<%end%>

<p><%= @user.pseudo %></p>
<p><%= @user.name %></p>
<p><%= @user.slug %></p>


<% if user_signed_in? && current_user.admin? %>
  <%= form_for @user, url: profile_path do |f| %>

  <div class="form-check">
      <%= f.radio_button :role, "vip", class: 'form-check-input' , :checked => @user.vip?%>
    <label class="form-check-label" >VIP</label>
  </div>


  <div class="form-check">
      <%= f.radio_button :role, "user", class: 'form-check-input', :checked => @user.user?%>
    <label class="form-check-label" >user</label>
  </div>



  <div class="form-check">
      <%= f.radio_button :role, "admin", class: 'form-check-input', :checked => @user.admin?%>
    <label class="form-check-label" >admin</label>
  </div>



  <%= f.submit "update" %>
<% end %>
<% end %>

  <%= form_for @follow, url: profile_follow_path(@user.id) do |f| %>
    <%= f.submit "follow" %>
  <% end %>

<%= link_to 'unfollow',  profile_unfollow_path(@user.id), method: :delete, data: {alert: 'are you sure' }%>
